<div class="list">
  {{#each files as file}}
    <File
      on:browse="browse(event)"
      name={{file.name}}
      path={{file.path}}
      thumbnail={{file.thumbnail}}
      isDirectory={{file.isDirectory}}
    />
  {{/each}}
</div>

<script>
  import File from './File'
  const { ipcRenderer } = require('electron')

  export default {
    data () {
      return {
        files: [],
      }
    },
    methods: {
      browse: function (path) {
        ipcRenderer.send('change-path', path)
      }
    },
    components: {
      File,
    }
  }
</script>

<style>
  .list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
</style>
